name: Deno Coverage

on: [ push ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install dependencies
        run: deno install

      - name: Run tests and report coverage to terminal
        run: npm run cov

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
