name: Gradle Build

on: [ push ]

permissions:
    id-token: write  # Required for OIDC
    contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      release: ${{ steps.build-and-publish.outputs.release }}
    steps:
      - id: build-and-publish
        uses: enonic/release-tools/build-and-publish@master
        with:
          repoUser: ci
          repoPassword: ${{ secrets.ARTIFACTORY_PASSWORD }}
          codecovToken: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload npm package
        if: steps.build-and-publish.outputs.release == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: npm-package
          path: build/types

  npm-publish:
    runs-on: ubuntu-latest
    needs: build
    if: needs.build.outputs.release == 'true'
    steps:
      - name: Download npm package
        uses: actions/download-artifact@v8
        with:
          name: npm-package
          path: build/types

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Set npm tag
        run: |
          VERSION=$(node -p "require('./build/types/package.json').version")
          if [[ "$VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "NPM_TAG=latest" >> $GITHUB_ENV
          else
            echo "NPM_TAG=beta" >> $GITHUB_ENV
          fi

      - name: Publish to npm
        working-directory: build/types
        run: |
          npm install -g npm@latest
          npm publish --tag $NPM_TAG

  release:
    runs-on: ubuntu-latest

    needs: build
    if: needs.build.outputs.release == 'true'

    steps:
      - uses: enonic/release-tools/release@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
